<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About Me</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error ratione
        minima molestiae possimus dolorum esse soluta consequatur voluptates in
        nam.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error ratione
        minima molestiae possimus dolorum esse soluta consequatur voluptates in
        nam.
      </p>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
